<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HTML Form and Input</title>
  </head>
  <body>
    <h1> Đánh giá chất lượng trang web </h1>
    <form>
      <table>
        <tr>
          <td>Họ tên</td>
          <td><input type="text" name="yourname" value=""></td>
        </tr>

        <tr>
          <td>Đánh giá layout của web</td>
          <td><input type="radio" name="assessment1" value="good">Tốt</td>
          <td><input type="radio" name="assessment1" value="average">Trung bình</td>
          <td><input type="radio" name="assessment1" value="bad">Tệ</td>
        </tr>

        <tr>
          <td>Đánh giá nội dung của web</td>
          <td><input type="radio" name="assessment2" value="good">Tốt</td>
          <td><input type="radio" name="assessment2" value="average">Trung bình</td>
          <td><input type="radio" name="assessment2" value="bad">Tệ</td>
        </tr>

        <tr>
          <td>Đánh giá sự nhiệt tình của tư vấn viên</td>
          <td><input type="radio" name="assessment3" value="good">Tốt</td>
          <td><input type="radio" name="assessment3" value="average">Trung bình</td>
          <td><input type="radio" name="assessment3" value="bad">Tệ</td>
        </tr>
      </table>
    </form>
  </body>
</html>
