<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Account Renting Service</title>
  </head>
  <body>
    <h1>Admin</h1>
    <table border="1px">
      <thead>
        <th>Tài khoản</th>
        <th>Mật khẩu</th>
        <th>Trò chơi</th>
        <th>Giá</th>
        <th>Liên lạc</th>
        <th>Trạng thái</th>
        <th>ID</th>
      </thead>

      <tbody>
        {% for service in services %}
        <tr>
          <td>{{ service.account }}</td>
          <td>{{ service.password }}</td>
          <td>{{ service.game }}</td>
          <td>{{ service.price }}</td>
          <td>{{ service.contact }}</td>

          <td>
          {% if service.occupied %}
          Đang bận
          {% else %}
          Đang rảnh
          {% endif %}
          </td>

          <td>{{ service.id }}</td>

          <td>
            <a href="{{ url_for('edit', service_id = service.id) }}">Sửa</a>
            <a href="{{ url_for('delete', service_id = service.id) }}">Xóa</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </body>
</html>
